/* for presentations

body {
  font-size: 18px;
}
div.list_item {
  height: 30px;
}
.toolbar select {
  height: 30px;
}

/* the real stuff */

div.cell.selected {
  border: 1px solid white;
  border-right: 1px solid rgb(200,210,220);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgb(200,210,220)),
    color-stop(0.5, rgb(255,255,255))
  );
  background-size: 80px;
  background-repeat: repeat-y;
}
div.cell.command_mode {
  border: 1px solid white;
  border-right: 1px solid rgb(00,80,100);
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgb(00,80,100)),
    color-stop(0.5, rgb(255,255,255))
  );
}

div#notebook {
/*    font-family: Century, Baskerville, "Adobe Garamond Pro", "Minion Pro", serif;*/
}

.ui-widget {
  font-family: Avenir, Century, Verdana, Arial, sans-serif;
}

body {
  /* sans-serif fonts I like */
  font-family: "Proxima Nova", proxima-nova, "Avenir Next", Avenir, "Century Gothic", Optima, "Frutiger LT Std", "Univers LT Std", sans-serif;
  /* serif fonts I like */
/*  font-family: Century, Baskerville, "Adobe Garamond Pro", "Minion Pro", serif;*/
}

div.CodeMirror {
  font-family: "Source Code Pro", source-code-pro, "Anonymous Pro", Consolas, Inconsolata, monospace;
}

div.text_cell_render {
  color: #333333;
}

.rendered_html h1, .rendered_html h2, .rendered_html h3, .rendered_html h4, .rendered_html h5 {
/*  line-height: 1em;*/
/*  margin-top: 16px;*/
/*  margin-bottom: 16px;*/
  border-bottom: 1px solid #ccc;
}

.text_cell_render img {
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*  display: block;*/
}

div.text_cell_render {
/*  margin-left: 76px;*/
/*  padding-right: 76px;*/
}

.code_cell + .text_cell {
/*  border-top: 1px solid #ccc*/
}

.rendered_html .MathJax_Display {
/*    text-align: left !important;*/
}

/* iOS 7 playing */

.btn {
  border-radius: 0px !important;
}
